In [3]:
#Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [5]:
# Read CSV
filepath = "resources/household_income_in_minnesota.csv"
clean_data = pd.read_csv(filepath)
clean_data.head()

            County   FIPS Value (Dollars) Rank within US (of 3141 counties)
0    United States      0          78,538                               NaN
1        Minnesota  27000          87,556                          14 of 52
2  Mahnomen County  27087          53,925                             2,425
3    Wadena County  27159          56,882                             2,198
4    Aitkin County  27001          59,498                             1,965

In [7]:
# Read CSV
filepath = "resources/unemployment_in_minnesota.csv"
clean_data = pd.read_csv(filepath)
clean_data.head()

,County,FIPS,Value (Percent),People (Unemployed),Rank within US (of 3143 counties)
0,United States,0,5.2,8759317,NaN
1,Minnesota,27000,3.9,122323,12 of 52
2,Mahnomen County,27087,10.2,227,"3,054"
3,Clearwater County,27029,7.4,286,"2,824"
4,Pine County,27115,6.0,829,"2,428"